* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    min-width: 430px;
    max-width: 100%;
}

.stripe-container {
    font-size: 10px;
    margin-top: 6px;
    color: white;
    display: flex;
}

.stripe-left {
    width: 2px;
    height: 19px;
    background-image: url('../../images/main/header/stripe_left.png');
}

.stripe-middle {
    height: 19px;
    background-image: url('../../images/main/header/stripe_middle.png');
    background-repeat: repeat-x;
    padding-top: 2px;
    text-align: center;
}

.stripe-right {
    width: 2px;
    height: 19px;
    background-image: url('../../images/main/header/stripe_right.png');
}

.red {
    color: red;
}

.green {
    color: green;
    font-weight: bold;
}

.tabs-container {
    display: flex;
}

.tab {
    display: flex;
}

.tab .tab-left {
    width: 4px;
    height: 29px;
    background-image: url('../../images/main/header/tab_left.png');
}

.tab.active .tab-left {
    height: 32px;
    background-image: url('../../images/main/header/tab_hover_left.png');
}

.tab-right {
    width: 4px;
    height: 29px;
    background-image: url('../../images/main/header/tab_right.png');
}

.tab.active .tab-right {
    height: 32px;
    background-image: url('../../images/main/header/tab_hover_right.png');
}

.tab-middle span {
    padding: 10px 5px 0 34px;
    display: block;
    height: 25px;
}

.tab.active .tab-middle {
    height: 32px;
    background-image: url('../../images/main/header/tab_hover_middle.png');
}

.tab:hover {
    margin-top: 0;
    cursor: pointer;
}

.tab-middle {
    width: auto;
    height: 27px;
    background-repeat: repeat-x;
    background-image: url('../../images/main/header/tab_middle.png');
    color: white;
    font-size: 10px;
}

.tab-middle .habbo-club {
    background-image: url('../../images/main/header/icon_habboclub.png');
    background-repeat: no-repeat;
    background-position: 4px 7px;
}

.tab-middle .my-habbo {
    background-image: url('../../images/main/header/icon_myhabbo.png');
    background-repeat: no-repeat;
    background-position: 4px 3px;
}

.tab-middle .my-credits {
    background-image: url('../../images/main/header/icon_mycredits.png');
    background-repeat: no-repeat;
    background-position: 4px 5px;
}

.banner {
    height: 150px;
    position: relative;
}

.banner-opacity {
    height: 150px;
    position: relative;
    z-index: 2;
}

.banner .opacity {
    position: absolute;
    top: 0;
    left: 5px;
    height: 150px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: black;
    opacity: 0.3;
}

.banner-container {
    height: 150px;
    display: flex;
    position: relative;
    z-index: 2;
}

.tabs-contents-container {
    width: 329px;
}

.tab-content {
    padding: 6px 6px 0 6px;
    height: auto;
    background-image: url('../../images/main/header/tabs_content_middle.png');
}

.tab-content img {
    float: left;
    margin-left: 10px;
}

.tab-content h2 {
    font-size: 10px;
    padding: 4px 6px;
    background-color: #f3f3f3;
    text-align: center;
}

.tab-content .dashs {
    margin: 6px 0;
    border-top: 1px dashed black;
}

.tab-bottom {
    height: 6px;
    background-image: url('../../images/main/header/tabs_content_bottom.png');
}

.clear {
    clear: both;
}

.float-left {
    float: left;
}

.btn-grey {
    float: right;
    display: block;
    height: 18px;
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    background-image: url('../../images/main/button_end.png');
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: 20px;
    margin: 0 0 6px 10px;
    white-space: nowrap;
    clear: both;
}

.btn-grey span {
    padding: 3px 8px 0 15px;
    background-repeat: no-repeat;
    background-image: url('../../images/main/button_bg_grey.png');
    height: 18px;
    float: left;
    display: block;
}

.btn-blue {
    display: block;
    height: 16px;
    width: 96px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    background-image: url('../../images/main/button_promo.png');
    background-repeat: no-repeat;
    background-position: top right;
    text-align: right;
    padding: 1px 25px 0 0;
}

.menu {
    background-repeat: no-repeat;
    padding-left: 8px;
    position: relative;
    z-index: 3;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    display: flex;
}

.menu ul li .left {
    display: block;
    width: 5px;
    height: 39px;
    background-image: url('../../images/main/header/nav_left.png');
}

.menu ul li.active .left {
    background-image: url('../../images/main/header/nav_left_active.png');
}

.menu ul li a {
    height: 39px;
    background-image: url('../../images/main/header/nav_middle.png');
    text-decoration: none;
    color: white;
    text-shadow: black 2px 2px 2px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 39px;
    padding-right: 8px;
    font-size: 10px;
}

.menu ul li.active a {
    background-image: url('../../images/main/header/nav_middle_active.png');
    color: black;
    text-shadow: none;
}

.menu ul li a img {
    vertical-align: middle;
}

.menu ul li .right {
    display: block;
    width: 4px;
    height: 39px;
    background-image: url('../../images/main/header/nav_right.png');
}

.menu ul li.active .right {
    background-image: url('../../images/main/header/nav_right_active.png');
}

.menu ul li.last .right {
    width: 12px;
    background-image: url('../../images/main/header/nav_right_last.png');
}

.menu ul li.last.active .right {
    width: 14px;
    background-image: url('../../images/main/header/nav_right_last_active.png');
}

.submenu {
    font-size: 10px;
    margin: 2px 0 0 1px;
    color: #930;
}

.submenu a {
    font-size: 10px;
    color: black;
    font-weight: bold;
    margin: 2px 0 0 1px;
}

.announcements-container {
    display: flex;
    margin-bottom: 10px;
}

.announcements-container .news-left {
    height: 251px;
    color: white;
}

.news-rss {
    float: right;
    margin-top: -2px;
}

.news-left .news-left-top-content {
    background-color: #222222;
    height: 19px;
    text-align: right;
    padding: 4px 12px 0 0;
    font-size: 10px;
    font-weight: bold;
}

.news-left-top-content span {
    border: 1px solid #999999;
    padding: 1px 3px;
    color: #999999;
}

.news-left-top-content span:hover {
    cursor: pointer;
}

.news-left-top-content span.active {
    border: 1px solid white;
    padding: 1px 3px;
    color: white;
}

.news-left .news-left-bottom-content {
    background-color: #004979;
    height: 34px;
    padding: 4px 10px 0 10px;
    background-image: url('../../images/main/boxs/news_left_middle.png');
    display: flex;
    justify-content: space-between;
}

.news-left .news-left-content img {
    height: 178px;
    width: 425px;
    margin-left: 4px;
    display: block;
}

.announcement-buttons {
    display: flex;
    flex-direction: column;
}

.news-right {
    color: white;
    font-size: 10px;
}

.news-right-top-content {
    height: 15px;
    background-color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px 8px;
    margin-bottom: 4px;
}

.news-right-content {
    height: 240px;
    background-color: #004979;
    position: relative;
}

.news-right-content a.btn-blue {
    position: absolute;
    bottom: 3px;
    right: 10px;
}

.news-right-item {
    padding: 0 11px;
    margin: 4px 0;
}

.news-right-item span {
    display: block;
}

.news-right-item a {
    color: #f16100;
}

.news-right-item a:visited {
    color: #f16100;
}

.news-right-item span:first-child {
    font-weight: bold;
    margin-bottom: 2px;
}

.news-right-separator {
    border-bottom: 1px dotted #ccc;
    margin: 1px 11px 0 11px;
}

.box-bottom-left {
    width: 6px;
    height: 6px;
    background-image: url('../../images/main/boxs/box_default_corner_bottom_left.png');
}

.box-bottom-middle {
    width: calc(100% - 12px);
    height: 6px;
    background-color: white;
}

.box-bottom-right {
    width: 6px;
    height: 6px;
    background-image: url('../../images/main/boxs/box_default_corner_bottom_right.png');
}

.box-orange .box-top-corner-left {
    background-image: url('../../images/main/boxs/box_orange_corner_top_left.png');
}

.box-orange .box-top-corner-middle {
    background-image: url('../../images/main/boxs/box_orange_top.png');
}

.box-orange .box-top-corner-right {
    background-image: url('../../images/main/boxs/box_orange_corner_top_right.png');
}

.box-orange .box-top-middle {
    background-color: #d75c03;
}

.box-orange .box-bottom-corner-left {
    background-image: url('../../images/main/boxs/box_orange_corner_bottom_left.png');
}

.box-orange .box-bottom-corner-middle {
    background-image: url('../../images/main/boxs/box_orange_bottom.png');
}

.box-orange .box-bottom-corner-right {
    background-image: url('../../images/main/boxs/box_orange_corner_bottom_right.png');
}

.box-green .box-top-corner-left {
    background-image: url('../../images/main/boxs/box_green_corner_top_left.png');
}

.box-green .box-top-corner-middle {
    background-image: url('../../images/main/boxs/box_green_top.png');
}

.box-green .box-top-corner-right {
    background-image: url('../../images/main/boxs/box_green_corner_top_right.png');
}

.box-green .box-top-middle {
    background-color: #508f54;
}

.box-green .box-bottom-corner-left {
    background-image: url('../../images/main/boxs/box_green_corner_bottom_left.png');
}

.box-green .box-bottom-corner-middle {
    background-image: url('../../images/main/boxs/box_green_bottom.png');
}

.box-green .box-bottom-corner-right {
    background-image: url('../../images/main/boxs/box_green_corner_bottom_right.png');
}

.box-blue .box-top-corner-left {
    background-image: url('../../images/main/boxs/box_blue_corner_top_left.png');
}

.box-blue .box-top-corner-middle {
    background-image: url('../../images/main/boxs/box_blue_top.png');
}

.box-blue .box-top-corner-right {
    background-image: url('../../images/main/boxs/box_blue_corner_top_right.png');
}

.box-blue .box-top-middle {
    background-color: #47839d;
}

.box-blue .box-bottom-corner-left {
    background-image: url('../../images/main/boxs/box_blue_corner_bottom_left.png');
}

.box-blue .box-bottom-corner-middle {
    background-image: url('../../images/main/boxs/box_blue_bottom.png');
}

.box-blue .box-bottom-corner-right {
    background-image: url('../../images/main/boxs/box_blue_corner_bottom_right.png');
}

.box-brown .box-top-corner-left {
    background-image: url('../../images/main/boxs/box_brown_corner_top_left.png');
}

.box-brown .box-top-corner-middle {
    background-image: url('../../images/main/boxs/box_brown_top.png');
}

.box-brown .box-top-corner-right {
    background-image: url('../../images/main/boxs/box_brown_corner_top_right.png');
}

.box-brown .box-top-middle {
    background-color: #a7723d;
}

.box-brown .box-bottom-corner-left {
    background-image: url('../../images/main/boxs/box_brown_corner_bottom_left.png');
}

.box-brown .box-bottom-corner-middle {
    background-image: url('../../images/main/boxs/box_brown_bottom.png');
}

.box-brown .box-bottom-corner-right {
    background-image: url('../../images/main/boxs/box_brown_corner_bottom_right.png');
}

.box-yellow .box-top-corner-left {
    background-image: url('../../images/main/boxs/box_yellow_corner_top_left.png');
}

.box-yellow .box-top-corner-middle {
    background-image: url('../../images/main/boxs/box_yellow_top.png');
}

.box-yellow .box-top-corner-right {
    background-image: url('../../images/main/boxs/box_yellow_corner_top_right.png');
}

.box-yellow .box-top-middle {
    border: none;
    display: flex;
    padding: 0;
}

.box-yellow .box-middle-left {
    width: 3px;
    background-image: url('../../images/main/boxs/box_yellow_corner_middle_left.png');
}

.box-yellow .box-middle-middle {
    background-color: #ffcb00;
    width: 100%;
    color: black;
    padding: 0 0 7px 5px;
}

.box-yellow .box-middle-right {
    width: 3px;
    background-image: url('../../images/main/boxs/box_yellow_corner_middle_right.png');
}

.box-yellow .box-top-bottom {
    border-bottom: 1px solid black;
}

.box-yellow .box-content {
    background-color: transparent;
    display: flex;
    padding: 0;
}

.box-yellow .box-content-left {
    width: 3px;
    background-image: url('../../images/main/boxs/box_yellow_content_left.png');
}

.box-yellow .box-content-middle {
    background-color: white;
    width: 100%;
    padding: 7px 0 7px 5px;
}

.box-yellow .box-content-right {
    width: 3px;
    background-image: url('../../images/main/boxs/box_yellow_content_right.png');
}

.box-yellow .box-bottom {
    display: flex;
}

.box-yellow .box-bottom-left {
    width: 11px;
    height: 11px;
    background-image: url('../../images/main/boxs/box_yellow_corner_bottom_left.png');
}

.box-yellow .box-bottom-middle {
    height: 11px;
    width: calc(100% - 13px);
    background-image: url('../../images/main/boxs/box_yellow_bottom.png');
}

.box-yellow .box-bottom-right {
    width: 11px;
    height: 11px;
    background-image: url('../../images/main/boxs/box_yellow_corner_bottom_right.png');
    background-repeat: no-repeat;
}

.box {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.box-top-top {
    display: flex;
}

.box-top-corner-left {
    width: 7px;
    height: 7px;
}

.box-top-corner-middle {
    width: 100%;
    height: 7px;
}

.box-top-corner-right {
    width: 7px;
    height: 7px;
}

.box-content {
    background-color: white;
    padding: 2px 9px;
}

.box-bottom {
    display: flex;
}

.box-top-bottom {
    display: flex;
}

.box-bottom-corner-left {
    width: 7px;
    height: 7px;
}

.box-bottom-corner-middle {
    width: 100%;
    height: 7px;
}

.box-bottom-corner-right {
    width: 7px;
    height: 7px;
}

.box-top-middle {
    border-left: 3px solid white;
    border-right: 3px solid white;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 10px 2px 10px;
    line-height: 9px;
}

.box-partner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 168px;
    background-image: url('../../images/main/boxs/partner.png');
    margin-bottom: 7px;
}

.box-supp-side {
    width: 168px;
}

.box-supp-side-top {
    width: 168px;
    height: 4px;
    background-image: url('../../images/main/boxs/sideadtop.png');
    background-repeat: no-repeat;
}

.box-supp-side-top-content {
    background-image: url('../../images/main/boxs/sideadmiddle.png');
    color: #777777;
    font-size: 10px;
    font-weight: bold;
    background-color: black;
    text-align: center;
    padding: 4px 0;
}

.box-supp-side-middle {
    width: 168px;
    background-image: url('../../images/main/boxs/sideadmiddle.png');
}

.box-supp-side-middle img {
    display: block;
    padding-left: 4px;
}

.box-supp-side-bottom {
    background-image: url('../../images/main/boxs/sideadbottom.png');
    width: 168px;
    height: 4px;
}

.box-supp-middle {
    width: 308px;
    margin-bottom: 8px;
}

.box-supp-middle-top {
    height: 4px;
    background-image: url('../../images/main/boxs/middleadtop.png');
    background-repeat: no-repeat;
}

.box-supp-middle-top-content {
    background-image: url('../../images/main/boxs/middleadmiddle.png');
    color: #777777;
    font-size: 10px;
    font-weight: bold;
    background-color: black;
    text-align: center;
    padding: 4px 0;
}

.box-supp-middle-middle {
    background-image: url('../../images/main/boxs/middleadmiddle.png');
}

.box-supp-middle-middle img {
    display: block;
    padding-left: 4px;
}

.box-supp-middle-bottom {
    background-image: url('../../images/main/boxs/middleadbottom.png');
    height: 4px;
}

.box-noh-blue .box-top {
    display: flex;
}

.box-noh-blue .box-top-corner-left {
    height: 6px;
    width: 6px;
    background-image: url('../../images/main/boxs/box_noh_blue_corner_top_left.png');
}

.box-noh-blue .box-top-corner-middle {
    height: 6px;
    width: calc(100% - 12px);
    background-color: #093d55;
}

.box-noh-blue .box-top-corner-right {
    height: 6px;
    width: 6px;
    background-image: url('../../images/main/boxs/box_noh_blue_corner_top_right.png');
}

.box-noh-blue .box-bottom-corner-left {
    height: 6px;
    width: 6px;
    background-image: url('../../images/main/boxs/box_noh_blue_corner_bottom_left.png');
}

.box-noh-blue .box-bottom-corner-middle {
    height: 6px;
    width: calc(100% - 12px);
    background-color: #093d55;
}

.box-noh-blue .box-bottom-corner-right {
    height: 6px;
    width: 6px;
    background-image: url('../../images/main/boxs/box_noh_blue_corner_bottom_right.png');
}

.box-noh-blue .box-content {
    width: calc(100% - 18px);
    background-color: #093d55;
}

.box-noh-blue ul {
    color: #66ccff;
    padding: 2px 0 5px 15px;
}

.box-noh-blue ul .active {
    color: white;
    font-weight: bold;
}

.box-noh-blue ul a {
    color: #66ccff;
}

.box-noh-blue ul a:visited {
    color: #66ccff;
}

.alert {
    width: 100%;
}

.alert-top {
    display: flex;
}

.alert-middle {
    display: flex;
    padding: 4px 6px;
}

.alert-bottom {
    display: flex;
}

.alert-message .alert-top-corner-left {
    background-image: url('../../images/main/boxs/alert_message_corner_top_left.png');
    height: 3px;
    width: 3px;
}

.alert-message .alert-top-corner-middle {
    background-image: url('../../images/main/boxs/alert_message_top.png');
    height: 3px;
    width: calc(100% - 6px);
}

.alert-message .alert-top-corner-right {
    background-image: url('../../images/main/boxs/alert_message_corner_top_right.png');
    height: 3px;
    width: 3px;
}

.alert-message .alert-middle {
    background-color: #f2ebdd;
    border-left: 1px solid #6e5b48;
    border-right: 1px solid #6e5b48;
}

.alert-message .alert-bottom-corner-left {
    background-image: url('../../images/main/boxs/alert_message_corner_bottom_left.png');
    height: 3px;
    width: 3px;
}

.alert-message .alert-bottom-corner-middle {
    background-image: url('../../images/main/boxs/alert_message_bottom.png');
    height: 3px;
    width: calc(100% - 6px);
}

.alert-message .alert-bottom-corner-right {
    background-image: url('../../images/main/boxs/alert_message_corner_bottom_right.png');
    height: 3px;
    width: 3px;
}

.alert-error .alert-top-corner-left {
    background-image: url('../../images/main/boxs/alert_error_corner_top_left.png');
    height: 5px;
    width: 5px;
}

.alert-error .alert-top-corner-middle {
    background-image: url('../../images/main/boxs/alert_error_top.png');
    height: 5px;
    width: calc(100% - 10px);
}

.alert-error .alert-top-corner-right {
    background-image: url('../../images/main/boxs/alert_error_corner_top_right.png');
    height: 5px;
    width: 5px;
}

.alert-error .alert-middle {
    background-color: #f2c6c6;
    border-left: 1px solid #b33625;
    border-right: 1px solid #b33625;
    padding: 4px 10px;
}

.alert-error .alert-bottom-corner-left {
    background-image: url('../../images/main/boxs/alert_error_corner_bottom_left.png');
    height: 5px;
    width: 5px;
}

.alert-error .alert-bottom-corner-middle {
    background-image: url('../../images/main/boxs/alert_error_bottom.png');
    height: 5px;
    width: calc(100% - 10px);
}

.alert-error .alert-bottom-corner-right {
    background-image: url('../../images/main/boxs/alert_error_corner_bottom_right.png');
    height: 5px;
    width: 5px;
}

.breadcrumbs {
    color: #9cc;
    padding: 2px 0 0 15px;
    margin-bottom: 4px;
    font-size: 9px;
}

.breadcrumbs a {
    color: #9cc;
    text-decoration: none;
}

.breadcrumbs a:visited {
    color: #9cc;
}

.headline {
    height: 24px;
    margin: 0 auto 2px auto;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 3px 0 0 16px;
}

.copyright {
    padding: 0 10px 0 10px;
    width: calc(100% - 20px);
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 9px;
    font-weight: bold;
    color: #7295aa;
}

.copyright a {
    color: #7295aa;
    text-decoration: none;
}

.copyright a:hover {
    color: white;
}

.copyright .box-content {
    text-align: center;
}

.copyright .box-content p {
    margin: 5px 0;
}

.copyright-menu {
    display: block;
    margin-bottom: 10px !important;
}