header {
    margin-bottom: 24px;
}

header.screen-normal {
    display: block;
}

header.screen-mobile {
    display: none;
}

.container {
    margin: 1em auto;
    width: 928px;
    height: auto;
}

.topbar-container {
    width: 928px;
    display: flex;
}

.topbar-left {
    width: 8px;
    height: 33px;
    background-image: url('../../images/main/header/topbar_left.png');
}

.topbar-middle {
    width: 100%;
    height: 33px;
    background-image: url('../../images/main/header/topbar_middle.png');
    background-repeat: repeat-x;
    display: flex;
    justify-content: space-between;
}

.topbar-right {
    width: 8px;
    height: 33px;
    background-image: url('../../images/main/header/topbar_right.png');
}

.stripe-middle {
    width: 229px;
}

.stripe-middle-right {
    width: 248px;
}

.tabs-container {
    width: 100%;
    margin: 0 0px 0 20px;
}

.banner {
    width: 928px;
}

.banner .opacity {
    width: 918px;
}

.banner-container {
    width: 928px;
}

.banner-container a.logo img {
    margin: 33px 0 0 42px;
}

.banner-container a.enter img {
    margin: 3px 0 0 82px;
}

.tabs-contents-container {
    margin-left: 109px;
}

.menu {
    top: -37px;
    background-image: url('../../images/main/header/subnav.png');
    height: 61px;
}

.content {
    height: auto;
    background-image: url('../../images/main/content.png');
}

.columns-container {
    height: auto;
    padding: 4px 7px 0 8px;
    width: 913px;
    display: flex;
    justify-content: space-between;
}

.bottom {
    height: 9px;
    width: 928px;
    background-image: url('../../images/main/bottom.png');
}

.column-left {
    width: 740px;
}

.column-right {
    width: 168px;
}

.announcements-container .news-left {
    width: 431px;
    height: 251px;
}

.news-left .news-left-top {
    height: 6px;
    background-image: url('../../images/main/boxs/news_left_top.png');
}

.news-left .news-left-bottom {
    height: 9px;
    background-image: url('../../images/main/boxs/news_left_bottom.png');
}

.news-left .news-left-content {
    background-image: url('../../images/main/boxs/news_left_middle.png');
}

.news-left .news-left-top-content {
    background-image: url('../../images/main/boxs/news_left_middle.png');
}

.news-left .news-left-bottom-content {
    background-image: url('../../images/main/boxs/news_left_middle.png');
}

.news-left .news-left-separator {
    height: 1px;
    background-image: url('../../images/main/boxs/news_left_separator.png');
}

.news-right {
    height: 251px;
    width: 309px;
}

.news-right-top {
    height: 6px;
    background-image: url('../../images/main/boxs/news_right_top.png');
}

.news-right-top-content {
    background-image: url('../../images/main/boxs/news_right_middle.png');
}

.news-right-bottom {
    height: 9px;
    background-image: url('../../images/main/boxs/news_right_bottom.png');
}

.news-right-content {
    background-image: url('../../images/main/boxs/news_right_middle.png');
}

.inner-columns-container {
    display: flex;
    justify-content: space-between;
}

.first-column {
    display: flex;
    flex-direction: column;
    width: 210px;
}

.second-column {
    display: flex;
    flex-direction: column;
    width: 210px;
}

.third-column {
    display: flex;
    flex-direction: column;
    width: 310px;
}

.two-first-column {
    display: flex;
    flex-direction: column;
    width: 197px;
}

.two-second-column {
    display: flex;
    flex-direction: column;
    width: 539px;
}

.box-supp-top {
    display: block;
    margin: 8px auto;
    width: 736px;
}

.box-supp-top-top {
    height: 4px;
    background-image: url('../../images/main/boxs/topadtop.png');
    background-repeat: no-repeat;
}

.box-supp-top-top-content {
    background-image: url('../../images/main/boxs/topadmiddle.png');
    color: #777777;
    font-size: 10px;
    font-weight: bold;
    background-color: black;
    text-align: center;
    padding: 4px 0;
}

.box-supp-top-middle {
    background-image: url('../../images/main/boxs/topadmiddle.png');
}

.box-supp-top-middle img {
    display: block;
    padding-left: 4px;
}

.box-supp-top-bottom {
    background-image: url('../../images/main/boxs/topadbottom.png');
    height: 4px;
}

.headline {
    background-image: url('../../images/main/headline.png');
    width: 896px;
}