header.screen-normal {
    display: none;
}

header.screen-mobile {
    display: block;
}

.container {
    margin: 1em auto;
    width: 430px;
    height: auto;
}

.topbar-container {
    display: flex;
}

.topbar-left {
    width: 8px;
    height: 91px;
    background-image: url('../../images/main/mobile/header/topbar_left.png');
}

.topbar-middle {
    width: 100%;
    height: 91px;
    background-image: url('../../images/main/mobile/header/topbar_middle.png');
}

.topbar-right {
    width: 8px;
    height: 91px;
    background-image: url('../../images/main/mobile/header/topbar_right.png');
}

.stripe-middle {
    width: 100%;
    margin-bottom: -3px;
}

.stripe-middle-right {
    width: 100%;
    margin-bottom: 3px;
}

.tabs-container {
    margin: 0 auto;
}

.banner {
    width: 430px;
    margin-top: -4px;
}

.banner .opacity {
    width: 420px;
}

.banner-container {
    width: 430px;
    display: block;
}

.banner-container a.logo img {
    margin: 33px 0 0 10px;
    z-index: 5;
}

.tabs-contents-container {
    margin-left: 8px;
    z-index: 1;
}

.logo {
    text-align: center;
    margin-bottom: 1em;
}

.menu {
    top: 17px;
    height: 39px;
    background-image: url('../../images/main/mobile/header/subnav.png');
    background-repeat: no-repeat;
}

.menu ul li .left {
    width: 5px;
}

.menu ul li a {
    padding: 0 5px;
}

.menu ul li .right {
    width: 4px;
}

.submenu {
    width: 419px;
    margin-left: 0px;
    padding: 2px 0 4px 11px;
    background-image: url('../../images/main/mobile/header/subnav_middle.png');
    background-repeat: repeat-y;
    line-height: 25px;
    font-size: 14px;
}

.submenu a {
    font-size: 14px;
}

.submenu_bottom {
    height: 4px;
    width: 430px;
    background-image: url('../../images/main/mobile/header/subnav_bottom.png');
}

.content {
    height: auto;
    background-image: url('../../images/main/mobile/content.png');
}

.columns-container {
    height: auto;
    width: 430px;
    display: flex;
    justify-content: space-between;
}

.bottom {
    height: 9px;
    width: 430px;
    background-image: url('../../images/main/mobile/bottom.png');
}

.column-left {
    width: 100%;
}

.column-right {
    display: none;
}

.announcements-container {
    width: 414px;
    margin: 5px auto;
    flex-direction: column;
}

.announcements-container .news-left {
    width: 414px;
}

.news-left .news-left-top {
    height: 6px;
    background-image: url('../../images/main/mobile/boxs/news_left_top.png');
}

.news-left .news-left-bottom {
    height: 8px;
    background-image: url('../../images/main/mobile/boxs/news_left_bottom.png');
}

.news-left .news-left-content {
    background-image: url('../../images/main/mobile/boxs/news_left_middle.png');
}

.news-left .news-left-bottom-content {
    background-image: url('../../images/main/mobile/boxs/news_left_middle.png');
}

.news-left .news-left-separator {
    height: 1px;
    background-image: url('../../images/main/mobile/boxs/news_left_separator.png');
}

.announcement-image {
    display: block;
}

.news-left .news-left-top-content {
    background-image: url('../../images/main/mobile/boxs/news_left_middle.png');
}

.news-left .news-left-content img {
    max-width: 406px;
    object-fit: cover;
}

.news-right {
    width: 414px;
    margin-top: 8px;
}

.news-right-top {
    height: 6px;
    background-image: url('../../images/main/mobile/boxs/news_left_top.png');
}

.news-right-top-content {
    background-image: url('../../images/main/mobile/boxs/news_left_middle.png');
}

.news-right-bottom {
    height: 8px;
    background-image: url('../../images/main/mobile/boxs/news_left_bottom.png');
}

.news-right-content {
    background-image: url('../../images/main/mobile/boxs/news_left_middle.png');
    padding-bottom: 5px;
    height: auto;
}

.box {
    margin: 8px auto 8px auto;
    max-width: 414px;
}

.box-supp-middle {
    margin: 8px auto 0 auto;
    width: 308px;
}

.box-supp-top {
    display: none;
}

.box-noh-blue ul {
    font-size: 14px;
}

.box-noh-blue ul li {
    margin: 5px 0;
}

.headline {
    background-image: url('../../images/main/mobile/headline.png');
    width: 398px;
}

.copyright {
    margin-top: 8px;
    margin-bottom: 0;
}